# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore log files
*.log

# Ignore compiled files
*.class
*.o
*.pyc

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore npm debug log
npm-debug.log*
